    <div class="container_global">
        <div class="container_haut">
            <div class="content">
                <div class="logo">
                    <img src="../../assets/LOGO.png" alt="image de mon logo">
                </div>
    
                <div class="image_clicpath">
                    <img src="../../assets/perso.png" alt="image de image_clicpath">
                </div>
            </div>
        </div>
    
        <div class="container_bienvenu">
            <div class="mot">
                <h2 class="titre2">Bienvenu sur</h2>
                <h2 class="titre2"><span>Vet</span>Care</h2>
            </div>
        </div>
    
        <div class="image_chien">
            <div class="vide">
    
            </div>
            <div class="chien">
                <img src="../../assets/chien.png" alt="mon chien">
            </div>
        </div>
    
        <div class="container_v">
    
            <div class="content_v">
    
                <div class="image_v">
                    <img src="../../assets/vt.png" alt="">
                </div>

                <div class="text_v">
                    <p>
                        VetCare est une application
                        qui est concu pour permettre
                        a un propriétaire d’animaux
                        de chercher un vétérinaire
                        plus rapidement, et de suivre
                        la sante et le médicament
                        de leurs animaux
                    </p>

                    <div class="icon_arrow" routerLink="/section-choix">
                        <i class="ri-arrow-right-line"></i>
                    </div>
                </div>
    
            </div>
    
        </div>
    </div>