<div class="container_global">

  <div class="content">

    <div class="ecran">
      <div class="ecran_vue">

      </div>
    </div>

    <div class="hearder">

      <div class="icon_retour" routerLink="/page3-inscription">
        <i class="ri-arrow-left-s-line"></i>
      </div>

      <div class="titre_inscription">
        <h3>Réjoignez VetCare</h3>
      </div>

      <div class="vide">

      </div>
    </div>

    <!-- Image  -->

    <div class="image_logo">
      <div class="logo">
        <img src="../../../assets/LOGO2.png" alt="mon logo">
      </div>
    </div>

    <div class="titre_logo">
        <p>Les informations relatives è votre <br> formations</p>
    </div>

    <div class="description_logo">
      <p>Entrez votre diplôme et télécharger votre <br> curriculum vitae.</p>
    </div>

  </div>

  <!-- /////////////////////////////////////////////////////////  FORMULAIRE -->

  <aside class="formulaire">

    <form class="container_formulaire">

      

      <div class="formulaire">

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Détails scolaires</h4>
        </div>

        <!-- input de votre pays  -->
        <div class="champ_input">
          <input type="text" class="input_focus"  id="diplome" placeholder="Saisir le diplôme ou certificat" autocomplete="on" required>
          <label for="diplome" class="label">Votre Diplôme ou Certificat</label>
        </div>

        <!-- input de votre quartier  -->
        <div class="champ_input" style="margin-top: -10px;">
          <input type="text" class="input_focus"  id="domaine" placeholder="Saisir votre domaine spécialisation" autocomplete="on" required>
          <label for="domaine" class="label">Votre domaine spécialisation</label>
        </div>

        <!-- input de votre quartier  -->
        <!-- <div class="champ_input" style="margin-top: -10px;">
          <input type="text" class="input_focus"  id="domaine" placeholder="Telecharger votre cv" autocomplete="on" required>
          <label for="domaine" class="label">Send CV En cours</label>
        </div> -->

        <!-- input de votre quartier  -->
        <div class="champ_input" style="margin-top: -10px;">
          <input type="number" maxlength="4" class="input_focus" id="experience" placeholder="Saisir votre année d'expérience" autocomplete="on" required>
          <label for="experience" class="label">Année d'experience</label>
        </div>

      
        <!-- input de type file  -->

        <div class="input_file">
          <input type="file" accept="image/*" id="file" (change)="handleFileInput($event)">
          <div class="label_input">
            <label for="file" class="label_download">
              <!-- <div class="image_user"> -->
                <div class="roudel_img" >
                  <img class="immmmmgggg" [src]="selectedFileDataUrl">
                </div>
                <p class="para_telecharger">Télécharger CV</p>
              <!-- </div> -->
              <i class="ri-download-cloud-2-line icon_telecharger"></i>
            </label>
          </div>

          
          <!-- <div class="image_user">
            <div class="roudel_img" >
              <img class="immmmmgggg" [src]="selectedFileDataUrl">
            </div>
          </div> -->
        </div>



        <!-- button envoie  -->

        <!-- le button de submit  -->
        <div class="btn_submit_global" routerLink="/page5-inscription">
          <button type="submit" class="btn_submit"> Suivant </button>
        </div>



        <!-- //////////////// Ligne et ou et ligne -->

        <div class="ligne_ou">

          <!-- // ma ligne un -->

          <div class="bare ligne1">

          </div>

          <!-- // mon or  -->

          <div class="ou">
            <p class="or">or</p>
          </div>

          <!-- // la ligne deux -->

          <div class="bare ligne2">

          </div>

        </div>


        <!-- ///////////////////////////////// TEXT de verification -->


        <div class="compte_quiz">
          <p>Vous avez déja un compte ?</p>
          <p class="seConnecter" routerLink="/page-final-connexion-veterinaire">Connectez-vous</p>
        </div>



      </div>

    </form>

  </aside>

</div>
