<div class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>


    <!-- // hearder  -->
    <div class="hearder">

      <!-- // annulation  -->
      <div class="annuler_retour" routerLink="/home-veterinaire">
        <h3> Annuler </h3>
      </div>

      <!-- // titre ajouter un rappel  -->
      <div class="titre_ajouter_rappel">
        <h3>Modification</h3>
      </div>

      

      <!-- // Fin de hearder  -->
    </div>

  <div class="container_welcome">
    <div class="welcome">

      <div class="div_bienvenu">
        <p class="para_bienvenu"> Bienvenu </p>
        <div class="nom_personne">
          <h3 class="h3_personne"> Diakaridia Koureissi SY </h3>
        </div>
      </div>
      <!-- ////////////////  -->

      <div class="image_profil">
        <img src="../../../assets/profil_vete.jpg" alt="">
      </div>
    </div>
  </div>

<!-- <ion-content> -->
 
  
        <!-- ///////////////////// LEs planing espace Debut  -->


        <!-- // container de planing  -->
        <div class="container_planing">
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_margin" >

            <!-- // name et Modification  -->
            <div class="planing_jour">
              <p>
                Jours
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite">
              <p>
                disponibilité
              </p>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" routerLink="/information-planning-modifier" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Lundi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                de 16h à 18h
              </p>

              <div class="icon_mod">
                <i class="ri-arrow-right-s-line"></i>
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Mardi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                de 08h à 11h
              </p>

              <div class="icon_mod">
                <i class="ri-arrow-right-s-line"></i>
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Mercredi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                de 10h à 15h
              </p>

              <div class="icon_mod">
                <i class="ri-arrow-right-s-line"></i>
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Jeudi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                de 15h à 16h
              </p>

              <div class="icon_mod">
                <i class="ri-arrow-right-s-line"></i>
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Vendredi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                de 16h à 18h
              </p>

              <div class="icon_mod">
                <i class="ri-arrow-right-s-line"></i>
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Samedi
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                de 12h à 15h
              </p>

              <div class="icon_mod">
                <i class="ri-arrow-right-s-line"></i>
              </div>
            </div>

          </div>
          
          <!-- // content de planing pour jour et disponiibilite -->
          <div class="name_content_planning name_content_planning_jour" >

            <!-- // name et Modification  -->
            <div class="planing_jour2">
              <p>
                Dimanche
              </p>
            </div>

            <!-- // Modification  -->
            <div class="planning_disponibilite2">
              <p>
                de 17h à 21h
              </p>

              <div class="icon_mod">
                <i class="ri-arrow-right-s-line"></i>
              </div>
            </div>

          </div>

        </div>



        <!-- ///////////////////// LEs planing espace Fin  -->

  
<!-- </ion-content> -->


</div>