<div class="container_global">

  <div class="content_text">

    <div class="ecran">
      <div class="ecran_vue">

      </div>
    </div>

    <div class="hearder">

      <!-- <div class="icon_retour" routerLink="/section-choix">
        <i class="ri-arrow-left-s-line"></i>
      </div> -->

      <div class="titre_inscription">
        <h3>Profil</h3>
      </div>

      

      <!-- // deconnexion  -->
      <div class="cadre_decconecter">
        <p>Se déconnecter</p>
      </div>


      <!-- <div class="vide">

      </div> -->
    </div>


    <!-- // Cadre de profil  -->

    <div class="container_cadre_profil">

      <div class="cadre_profil">

        <div class="image_profil">
          <img src="../../../assets/profil_vete.jpg" alt="">
        </div>

        <div class="cadre_info">

          <!-- // le nom de mon cadre  -->
          <div class="cadre_nom">
            <h3 class="cadre_h3">SY</h3>
          </div>

          <!-- // Le prénom de mon cadre  -->
          <div class="cadre_prenom">
            <h3 class="cadre_h3">Diakaridia</h3>
          </div>

        </div>

          <!-- // email de mon cadre  -->
          <div class="cadre_email">
            <p class="cadre_p">sydiakaridia38@gmail.com</p>
          </div>


          <div class="cadre_action">

            <!-- // modification 
            <div class="cadre_edit" routerLink="/profil-modification">
              <i class="ri-edit-box-line icon_edit"></i>
              <p>Modifier</p>
            </div> -->

            <!-- // detaille -->
            <div class="cadre_detaille" routerLink="/profil-detaille">
              <i class="ri-eye-line icon_delete"></i>
              <p>Détaille</p>
            </div>

          </div>

      </div>

    </div>

    <!-- //////////// Les information  -->

    <div class="container_information">

      <div class="content_information">

        <!-- // L'information de vétérinaire 1  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <p class="para_vete_info">Diplôme spécialisation</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <p class="para_vete_info">Domaine spécialisation</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 3  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info vete_info2">
            <p class="para_vete_info">Mon CV</p>
            <div class="eye">
              <i class="ri-eye-line"></i>
            </div>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <p class="para_vete_info">78711623</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <p class="para_vete_info">Boulkassoumbougou</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info veterinaire_info2">
          <!-- // vete info  -->
          <div class="vete_info_ok">
            <p class="para_vete_info">23/10/2023</p>
          </div>

          
          <!-- // vete info  -->
          <div class="vete_info_ok vete_info_ok2">
            <p class="para_vete_info">Homme</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <p class="para_vete_info">Année d'expérience</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <p class="para_vete_info">Langue Parlée</p>
          </div>
        </div>
      
      </div>

    </div>


  </div>
</div>