<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- // icon de retour  -->
    <div class="icon_retour" routerLink="/accueil">
      <i class="ri-arrow-left-s-line"></i>
    </div>

    <!-- titre de suivi medicament  -->
    <div class="TitreSuiviMedicament">
      <h3>Suivi Médicament</h3>
    </div>

    <div class="vide">

    </div>
  
  </div>

  <!-- // bare de recherche  -->
  <div class="bareRecherche">
    <!-- // recherche  -->
    <div class="recherche">
      <!-- // input  search  -->
      <i class="ri-search-line icon_search"></i>
      <input type="text" class="search" placeholder="Recherche un médicament">
    </div>
  </div>

  <!-- // bare ligne  -->
  <div class="bare_ligne">
    <!-- // ligne  -->
    <div class="ligne">

    </div>
  </div>
</ion-header>

<ion-content>
<div class="container_global">

  <div class="content">


    <!-- // Cadre de suivo medicament  -->

    <!-- ||||||||||||| Cadre 1 -->

    <div class="cadre_container">

      <div class="cadre_content">

        <div class="image_suivi_medicament">
          <img src="../../../assets/medi.jpg" alt="image de medicament">
        </div>

        <div class="info_suivi_medi">
          
          <!-- // Date de debut et date de fin  -->
          <div class="dateDebutFin">
            <p class="Ddebut">23/10/2023</p>
            <p class="Ddif">à</p>
            <p class="Dfin">23/10/2023</p>
          </div>
          
          <!-- // nom de medicament  -->

          <div class="name_medicament">
            <h3 class="name_med"> Nom de Médicament </h3>
          </div>
          
          <!-- // nom de animal concerner  -->

          <div class="name_animal">
            <h3 class="name_ani"> Nom d'animal</h3>
          </div>
          
          <!-- // nombre de frequence  -->

          <div class="nombre_frequence">
            <h3 class="nombre_fre"> (2) Comprimeées</h3>
          </div>
          
          <!-- // nombre dosage  -->

          <div class="nombre_dosage">
            <h3 class="nombre_dos"> 1 / jours</h3>
          </div>
          
          <!-- // heure de prise   -->

          <div class="heure_prise">
            <h3 class="heure_pri"> 17 : 00 </h3>
          </div>
          
          <!-- // description de medicament   -->

          <div class="description_medicament">
            <p class="description_med"> Une petite description pour <br> le médicament</p>
          </div>

        </div>

      </div>      

      <!-- ................. Modification de suppression .................. -->

      <div class="edit_delete1">
        <!-- // modification  -->
        <div class="edit">
          <i class="ri-edit-box-line icon_edit"></i>
        </div>
        <!-- // suppression  -->
        <div class="delete">
          <i class="ri-delete-bin-3-line icon_delete"></i>
        </div>
      </div>

    </div>

    <!-- ||||||||||||| Cadre 2 -->
    
    <div class="cadre_container">

      <div class="cadre_content cadre_content2">

        <div class="image_suivi_medicament">
          <img src="../../../assets/medi.jpg" alt="image de medicament">
        </div>

        <div class="info_suivi_medi">
          
          <!-- // Date de debut et date de fin  -->
          <div class="dateDebutFin">
            <p class="Ddebut">23/10/2023</p>
            <p class="Ddif">à</p>
            <p class="Dfin">23/10/2023</p>
          </div>
          
          <!-- // nom de medicament  -->

          <div class="name_medicament">
            <h3 class="name_med"> Nom de Médicament </h3>
          </div>
          
          <!-- // nom de animal concerner  -->

          <div class="name_animal">
            <h3 class="name_ani"> Nom d'animal</h3>
          </div>
          
          <!-- // nombre de frequence  -->

          <div class="nombre_frequence">
            <h3 class="nombre_fre"> (2) Comprimeées</h3>
          </div>
          
          <!-- // nombre dosage  -->

          <div class="nombre_dosage">
            <h3 class="nombre_dos"> 1 / jours</h3>
          </div>
          
          <!-- // heure de prise   -->

          <div class="heure_prise">
            <h3 class="heure_pri"> 17 : 00 </h3>
          </div>
          
          <!-- // description de medicament   -->

          <div class="description_medicament">
            <p class="description_med"> Une petite description pour <br> le médicament</p>
          </div>

        </div>

      </div>      

      <!-- ................. Modification de suppression .................. -->

      <div class="edit_delete">
        <!-- // modification  -->
        <div class="edit">
          <i class="ri-edit-box-line icon_edit"></i>
        </div>
        <!-- // suppression  -->
        <div class="delete">
          <i class="ri-delete-bin-3-line icon_delete"></i>
        </div>
      </div>

    </div>

    <!-- ||||||||||||| Cadre 3 -->
    
    <div class="cadre_container">

      <div class="cadre_content cadre_content2">

        <div class="image_suivi_medicament">
          <img src="../../../assets/medi.jpg" alt="image de medicament">
        </div>

        <div class="info_suivi_medi">
          
          <!-- // Date de debut et date de fin  -->
          <div class="dateDebutFin">
            <p class="Ddebut">23/10/2023</p>
            <p class="Ddif">à</p>
            <p class="Dfin">23/10/2023</p>
          </div>
          
          <!-- // nom de medicament  -->

          <div class="name_medicament">
            <h3 class="name_med"> Nom de Médicament </h3>
          </div>
          
          <!-- // nom de animal concerner  -->

          <div class="name_animal">
            <h3 class="name_ani"> Nom d'animal</h3>
          </div>
          
          <!-- // nombre de frequence  -->

          <div class="nombre_frequence">
            <h3 class="nombre_fre"> (2) Comprimeées</h3>
          </div>
          
          <!-- // nombre dosage  -->

          <div class="nombre_dosage">
            <h3 class="nombre_dos"> 1 / jours</h3>
          </div>
          
          <!-- // heure de prise   -->

          <div class="heure_prise">
            <h3 class="heure_pri"> 17 : 00 </h3>
          </div>
          
          <!-- // description de medicament   -->

          <div class="description_medicament">
            <p class="description_med"> Une petite description pour <br> le médicament</p>
          </div>

        </div>

      </div>      

      <!-- ................. Modification de suppression .................. -->

      <div class="edit_delete">
        <!-- // modification  -->
        <div class="edit">
          <i class="ri-edit-box-line icon_edit"></i>
        </div>
        <!-- // suppression  -->
        <div class="delete">
          <i class="ri-delete-bin-3-line icon_delete"></i>
        </div>
      </div>

    </div>

    <!-- ||||||||||||| Cadre 3 -->
    
    <div class="cadre_container">

      <div class="cadre_content cadre_content2">

        <div class="image_suivi_medicament">
          <img src="../../../assets/medi.jpg" alt="image de medicament">
        </div>

        <div class="info_suivi_medi">
          
          <!-- // Date de debut et date de fin  -->
          <div class="dateDebutFin">
            <p class="Ddebut">23/10/2023</p>
            <p class="Ddif">à</p>
            <p class="Dfin">23/10/2023</p>
          </div>
          
          <!-- // nom de medicament  -->

          <div class="name_medicament">
            <h3 class="name_med"> Nom de Médicament </h3>
          </div>
          
          <!-- // nom de animal concerner  -->

          <div class="name_animal">
            <h3 class="name_ani"> Nom d'animal</h3>
          </div>
          
          <!-- // nombre de frequence  -->

          <div class="nombre_frequence">
            <h3 class="nombre_fre"> (2) Comprimeées</h3>
          </div>
          
          <!-- // nombre dosage  -->

          <div class="nombre_dosage">
            <h3 class="nombre_dos"> 1 / jours</h3>
          </div>
          
          <!-- // heure de prise   -->

          <div class="heure_prise">
            <h3 class="heure_pri"> 17 : 00 </h3>
          </div>
          
          <!-- // description de medicament   -->

          <div class="description_medicament">
            <p class="description_med"> Une petite description pour <br> le médicament</p>
          </div>

        </div>

      </div>      

      <!-- ................. Modification de suppression .................. -->

      <div class="edit_delete">
        <!-- // modification  -->
        <div class="edit">
          <i class="ri-edit-box-line icon_edit"></i>
        </div>
        <!-- // suppression  -->
        <div class="delete">
          <i class="ri-delete-bin-3-line icon_delete"></i>
        </div>
      </div>

    </div>

    <!-- ||||||||||||| Cadre 3 -->
    
    <div class="cadre_container">

      <div class="cadre_content cadre_content2">

        <div class="image_suivi_medicament">
          <img src="../../../assets/medi.jpg" alt="image de medicament">
        </div>

        <div class="info_suivi_medi">
          
          <!-- // Date de debut et date de fin  -->
          <div class="dateDebutFin">
            <p class="Ddebut">23/10/2023</p>
            <p class="Ddif">à</p>
            <p class="Dfin">23/10/2023</p>
          </div>
          
          <!-- // nom de medicament  -->

          <div class="name_medicament">
            <h3 class="name_med"> Nom de Médicament </h3>
          </div>
          
          <!-- // nom de animal concerner  -->

          <div class="name_animal">
            <h3 class="name_ani"> Nom d'animal</h3>
          </div>
          
          <!-- // nombre de frequence  -->

          <div class="nombre_frequence">
            <h3 class="nombre_fre"> (2) Comprimeées</h3>
          </div>
          
          <!-- // nombre dosage  -->

          <div class="nombre_dosage">
            <h3 class="nombre_dos"> 1 / jours</h3>
          </div>
          
          <!-- // heure de prise   -->

          <div class="heure_prise">
            <h3 class="heure_pri"> 17 : 00 </h3>
          </div>
          
          <!-- // description de medicament   -->

          <div class="description_medicament">
            <p class="description_med"> Une petite description pour <br> le médicament</p>
          </div>

        </div>

      </div>      

      <!-- ................. Modification de suppression .................. -->

      <div class="edit_delete">
        <!-- // modification  -->
        <div class="edit">
          <i class="ri-edit-box-line icon_edit"></i>
        </div>
        <!-- // suppression  -->
        <div class="delete">
          <i class="ri-delete-bin-3-line icon_delete"></i>
        </div>
      </div>

    </div>

  </div>
</div>
</ion-content>


<ion-footer class="font_footer">
  <div class="footer_content">
    
    <div class="accueil" routerLink="/accueil">
      <i class="ri-home-line"></i>
      <div class="nom_icon">
        <p> Accueil </p>
      </div>
    </div>
    
    <div class="accueil">
      <i class="ri-notification-2-line"></i>
      <div class="nom_icon">
        <p> Notification </p>
      </div>
    </div>
    
    <div class="accueil" routerLink="/ajouter-medicament"  style="color: green;">
      <i class="ri-add-circle-line"></i>
      <div class="nom_icon">
        <p> Ajouter </p>
      </div>
    </div>
    
    <div class="accueil accueil2">
      <i class="ri-wechat-line"></i>
      <div class="nom_icon">
        <p> Message </p>
      </div>
    </div>
    
    <div class="accueil">
      <i class="ri-user-line"></i>
      <div class="nom_icon">
        <p> Profil </p>
      </div>
    </div>

  </div>
</ion-footer>