<div class="container_global">

  <div class="content">

    <!-- // ecran blanc  -->
    <div class="ecran">

      <div class="ecran_vue">

      </div>

    </div>

    <!-- // hearder  -->
    <div class="hearder">

      <!-- // annulation  -->
      <div class="annuler_retour" routerLink="/home-veterinaire-planning-modification">
        <h3> Annuler </h3>
      </div>

      <!-- // titre ajouter un rappel  -->
      <div class="titre_ajouter_rappel">
        <h3>Lundi</h3>
      </div>

      <!-- // enregistrement  -->
      <div class="save" routerLink="/home-veterinaire-planning-modification">
        <h3> Enregistrer </h3>
      </div>

      <!-- // Fin de hearder  -->
    </div>

    <!-- ///////////////// Image de reveil  -->

    <aside class="formulaire">

      <form class="container_formulaire">
  
        
  
        <div class="formulaire">

          <div class="name_jour_dispo">

            <div class="diplay_name_jour">

              <div class="name_disponible">
                <p> Jours </p>
              </div>

              <div class="name_disponible">
                <p> Disponibilité </p>
              </div>

            </div>

          </div>

          <!-- /////////////////////////////////////////////// -->
          <div class="champ_input">
            <input type="time" class="input_focus input_focus_textarea" id="time" autocomplete="off" required>
            <label for="time" class="label label_heure">Heure de disponibilité</label>
            <!-- <i class="ri-information-line input_info_icon"></i> -->
          </div>  
  
        </div>
  
      </form>
  
    </aside>


  </div>
</div>