<div class="container_global">

  <div class="content">

    <div class="ecran">
      <div class="ecran_vue">

      </div>
    </div>

    <div class="hearder">

      <div class="icon_retour" routerLink="/page4-inscription">
        <i class="ri-arrow-left-s-line"></i>
      </div>

      <div class="titre_inscription">
        <h3>Réjoignez VetCare</h3>
      </div>

      <div class="vide">

      </div>
    </div>

    <!-- Image  -->

    <div class="image_logo">
      <div class="logo">
        <img src="../../../assets/LOGO2.png" alt="mon logo">
      </div>
    </div>

    <div class="titre_logo">
        <p>Choisissez un Mot de passe</p>
    </div>

    <div class="description_logo">
      <p>
        Créez un mot de passe robuste composé d'au <br> moins
        hui (8) caractères, en débutant par une <br> lettre 
        majuscule, suivie d'une lettre minuscule <br>
        et agrémenté d'un symbole.
      </p>
    </div>

  </div>

  <!-- /////////////////////////////////////////////////////////  FORMULAIRE -->

  <aside class="formulaire">

    <form class="container_formulaire">

      

      <div class="formulaire">

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Clé</h4>
        </div>

        <!-- input de votre pays  -->
        <div class="champ_input">
          <input type="password" class="input_focus"  id="password" placeholder="Saisir votre mot de passe" autocomplete="on" required>
          <label for="password" class="label">Mot de passe</label>
        </div>

        <!-- input de votre quartier  -->
        <div class="champ_input" style="margin-top: -10px;">
          <input type="password" class="input_focus"  id="repassword" placeholder="Confirmer votre mot de " autocomplete="on" required>
          <label for="repassword" class="label">Confirm mot de passe</label>
        </div>
      
        <!-- input de votre acte de naissance  -->
      


        <!-- button envoie  -->

        <!-- le button de submit  -->
        <div class="btn_submit_global">
          <button type="submit" class="btn_submit" routerLink="/accueil"> S'inscrire </button>
        </div>



        <!-- //////////////// Ligne et ou et ligne -->

        <div class="ligne_ou">

          <!-- // ma ligne un -->

          <div class="bare ligne1">

          </div>

          <!-- // mon or  -->

          <div class="ou">
            <p class="or">or</p>
          </div>

          <!-- // la ligne deux -->

          <div class="bare ligne2">

          </div>

        </div>


        <!-- ///////////////////////////////// TEXT de verification -->


        <div class="compte_quiz">
          <p>Vous avez déja un compte ?</p>
          <p class="seConnecter" routerLink="/page-final-connexion-veterinaire">Connectez-vous</p>
        </div>



      </div>

    </form>

  </aside>

</div>
