<div class="container">

  <div class="image">
    <img class="image-centree" src="../../assets/LOGO.png" alt="Image centrée">
  </div>

  <div class="paragraphe">
    <p>Pour continuer vous devez dabord <br> choisir QUI EST TU ?</p>
  </div>

  <div class="background_container">

    <div class="background">
      <img src="../../assets/utilisateur01.jpg" routerLink="/connexion" alt="">
      <div class="h3" routerLink="/connexion">
        <h3>Propriétaire d'animal</h3>
      </div>

      <div class="textDes">
        <p>
          La sélection du propriétaire d'un animal vous offrira la possibilité de rechercher des vétérinaires qui prendront soin de votre précieux compagnon.
        </p>
      </div>
    </div>
 </div>


 <!-- /////////////////////////// -->

 <div class="background_container" style="margin-top: 60px;">

  <div class="background" router>
    <img src="../../assets/veterinaire.jpg" routerLink="/page1-inscription" alt="">
    <div class="h3Vete" routerLink="/page1-inscription">
      <h3>Vétérinaire</h3>
    </div>

    <div class="textDes">
      <p>
        Le choix d'un vétérinaire vous offrira la possibilité de trouver des clients parmi les propriétaires d'animaux, afin de leur prodiguer des soins et prendre en charge les maladies de leurs compagnons.
      </p>
    </div>
  </div>
</div>

</div>

  