<div class="container_global">

  <div class="content">

    <!-- // ecran blanc  -->
    <div class="ecran">

      <div class="ecran_vue">

      </div>

    </div>

    <!-- // hearder  -->
    <div class="hearder">

      <!-- // annulation  -->
      <div class="annuler_retour" routerLink="/ajouter-medicament">
        <h3> Annuler </h3>
      </div>

      <!-- // titre ajouter un rappel  -->
      <div class="titre_ajouter_rappel">
        <h3>Ajout.. Rappel</h3>
      </div>

      <!-- // enregistrement  -->
      <div class="save" routerLink="/suivi-medicament">
        <h3> Enregistrer </h3>
      </div>

      <!-- // Fin de hearder  -->
    </div>

    <!-- ///////////////// Image de reveil  -->

    <!-- // image de container  -->
    <div class="image_rappel_container">
      <!-- // image  -->
      <div class="image_rappel">
        <!-- // image en question  -->
        <img src="../../../assets/rappel.png" alt="image de rappel">
      </div>
    </div>


    <aside class="formulaire">

      <form class="container_formulaire">
  
        
  
        <div class="formulaire">
  
          <div class="champ_input">
            <input type="time" class="input_focus input_focus_textarea" id="time" autocomplete="off" required>
            <label for="time" class="label label_heure">Heure de reveil</label>
            <!-- <i class="ri-information-line input_info_icon"></i> -->
          </div>  
  
        </div>
  
      </form>
  
    </aside>


  </div>
</div>