<div class="container_global">

  <div class="content_text">

    <div class="ecran">
      <div class="ecran_vue">

      </div>
    </div>

    <div class="hearder">

      <!-- <div class="icon_retour" routerLink="/section-choix">
        <i class="ri-arrow-left-s-line"></i>
      </div> -->

      <div class="icon_retour" routerLink="/profil-detaille">
        <div class="nom_retour">
          <p>Profil</p>
        </div>
      </div>

      

      <!-- // deconnexion  -->
      <div class="cadre_nom" routerLink="/profil-modification-user">
        <p>Modifier</p>
      </div>
      
    </div>

    <!-- /////////////////////////////////////////////////  -->

    
    <!-- /////////////////////////// -->


    
    <div class="container_cadre_profil">

      <div class="cadre_profil">

        <div class="image_profil">
          <img src="../../../assets/profil_vete.jpg" alt="">
        </div>

      </div>
    </div>


    <!-- ////////////////////////////////////////  -->

    <div class="name_user">
      <h2 class="h2_name"> Diakaridia SY </h2>
    </div>


    <div class="bio_user">
      <p class="p_description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>


    <!-- ////////////////////////////////////  -->

    <div class="container_button">

      <!-- // button  -->
      
      <div class="btn_left">
        <button class="btn_profil btn_profil_green">
          Mes Forums
        </button>
      </div>

      <div class="btn_right">
        <button class="btn_profil btn_profil_red">
          Déconnecter
        </button>
      </div>


    </div>


    

    <!-- //////////// Les information  -->

    <div class="container_information">

      <div class="content_information">

        <!-- // L'information de vétérinaire 1  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <div class="icon_info">
              <i class="ri-mail-line"></i>
            </div>
            <p class="para_vete_info">sydiakaridia38@gmail.com</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <div class="icon_info">
              <i class="ri-smartphone-line"></i>
            </div>
            <p class="para_vete_info">78711623</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <div class="icon_info">
              <i class="ri-smartphone-line"></i>
            </div>
            <p class="para_vete_info">Homme</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <div class="icon_info">
              <i class="ri-article-line"></i>
            </div>
            <p class="para_vete_info">23/10/2023</p>
          </div>
        </div>

        <!-- // L'information de vétérinaire 2  -->
        <div class="veterinaire_info">
          <!-- // vete info  -->
          <div class="vete_info">
            <div class="icon_info">
              <i class="ri-map-pin-2-line"></i>
            </div>
            <p class="para_vete_info">Boulkassoumbougou</p>
          </div>
        </div>

      </div>
    </div>



  </div>
</div>
