
<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- <div class="icon_retour" routerLink="/section-choix">
      <i class="ri-arrow-left-s-line"></i>
    </div> -->

    <div class="icon_retour">
      <i class="ri-arrow-left-s-line"></i>

      <div class="nom_retour">
        <p> Mon Rendez-vous </p>
      </div>
    </div>

  </div>

  <div class="name_container">

    <div class="logo_name">
      <p>
        <span>VET</span>
        CARE
      </p>
    </div>

    <!-- ///////// name rdv  -->

    <div class="prendre_rendez_vous">
      <p>
        Prendre un RDV
      </p>
    </div>

  </div>

  <div class="bare">
    <div class="ligne">

    </div>
  </div>



</ion-header>

<ion-content>

  <!-- /: Suive de mon rendez-vous -->
  <div class="container_rendez_vous">

    <div class="content_rendez_vous">

      <!-- // name et image de rendez-vous  -->
      <div class="name_image_rdv">
        <!-- // name  -->
        <div class="name">
          <p>
            Fixés
          </p>
        </div>

        <!-- // image  -->
        <div class="image">
          <img src="../../../assets/rdv.png" alt="">
        </div>
      </div>



      <!-- ///////////////////// Cadre de rebdez-vous  -->

      <div class="container_cadre">

        <!-- // point cadre 1 -->
        <div class="point_cadre">

          <div class="display_flex_jour_info">

            <!-- // petit cadre  -->
            <div class="cadre_date">

              <!-- // jour mois année  -->
              <!-- // mois  -->
              <div class="mois">
                <p>Oct</p>
              </div>

              <!-- // jours  -->
              <div class="jours">
                <p>
                  25
                </p>
              </div>

              <!-- // jour mois année  -->
              <div class="jour_mois_annee">
                <p>
                  25/10/2023
                </p>
              </div>

            </div>

            <!-- // information rdv  -->
            <div class="info_rdv">

              <div class="les_nom">

                <!-- // Espèce  -->
                <div class="espece">
                  <p>
                    Espèce de l'animal
                  </p>
                </div>

                <!-- // sexe de animal  -->
                <div class="sexe_animal">
                  <p>
                    Sexe de l'animal
                  </p>
                </div>

                <!-- // personne icon nom -->
                <div class="icon_name">
                  <!-- // icon perssonne  -->
                  <div class="icon_perso">
                    <i class="ri-user-follow-line"></i>
                  </div>

                  <!-- // nom personne  -->
                  <div class="name_perso">
                    <p>
                      Diakaridia SY
                    </p>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <!-- // icon de detaille de rendez-vous -->
          <div class="icon_detaille">
            <div class="icon_detaille">
              <i class="ri-arrow-right-circle-fill"></i>
            </div>

            <!-- // annuler  -->
            <div class="annuler">
              <p>
                Annuler Rdv
              </p>
            </div>
          </div>


        </div>

        <!-- // point cadre 2 -->
        <div class="point_cadre">

          <div class="display_flex_jour_info">

            <!-- // petit cadre  -->
            <div class="cadre_date">

              <!-- // jour mois année  -->
              <!-- // mois  -->
              <div class="mois">
                <p>Oct</p>
              </div>

              <!-- // jours  -->
              <div class="jours">
                <p>
                  25
                </p>
              </div>

              <!-- // jour mois année  -->
              <div class="jour_mois_annee">
                <p>
                  25/10/2023
                </p>
              </div>

            </div>

            <!-- // information rdv  -->
            <div class="info_rdv">

              <div class="les_nom">

                <!-- // Espèce  -->
                <div class="espece">
                  <p>
                    Espèce de l'animal
                  </p>
                </div>

                <!-- // sexe de animal  -->
                <div class="sexe_animal">
                  <p>
                    Sexe de l'animal
                  </p>
                </div>

                <!-- // personne icon nom -->
                <div class="icon_name">
                  <!-- // icon perssonne  -->
                  <div class="icon_perso">
                    <i class="ri-user-follow-line"></i>
                  </div>

                  <!-- // nom personne  -->
                  <div class="name_perso">
                    <p>
                      Diakaridia SY
                    </p>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <!-- // icon de detaille de rendez-vous -->
          <div class="icon_detaille">
            <div class="icon_detaille">
              <i class="ri-arrow-right-circle-fill"></i>
            </div>

            <!-- // annuler  -->
            <div class="annuler">
              <p>
                Annuler Rdv
              </p>
            </div>
          </div>


        </div>

        <!-- // point cadre 3 -->
        <div class="point_cadre">

          <div class="display_flex_jour_info">

            <!-- // petit cadre  -->
            <div class="cadre_date">

              <!-- // jour mois année  -->
              <!-- // mois  -->
              <div class="mois">
                <p>Oct</p>
              </div>

              <!-- // jours  -->
              <div class="jours">
                <p>
                  25
                </p>
              </div>

              <!-- // jour mois année  -->
              <div class="jour_mois_annee">
                <p>
                  25/10/2023
                </p>
              </div>

            </div>

            <!-- // information rdv  -->
            <div class="info_rdv">

              <div class="les_nom">

                <!-- // Espèce  -->
                <div class="espece">
                  <p>
                    Espèce de l'animal
                  </p>
                </div>

                <!-- // sexe de animal  -->
                <div class="sexe_animal">
                  <p>
                    Sexe de l'animal
                  </p>
                </div>

                <!-- // personne icon nom -->
                <div class="icon_name">
                  <!-- // icon perssonne  -->
                  <div class="icon_perso">
                    <i class="ri-user-follow-line"></i>
                  </div>

                  <!-- // nom personne  -->
                  <div class="name_perso">
                    <p>
                      Diakaridia SY
                    </p>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <!-- // icon de detaille de rendez-vous -->
          <div class="icon_detaille">
            <div class="icon_detaille">
              <i class="ri-arrow-right-circle-fill"></i>
            </div>

            <!-- // annuler  -->
            <div class="annuler">
              <p>
                Annuler Rdv
              </p>
            </div>
          </div>


        </div>

        <!-- // point cadre 4 -->
        <div class="point_cadre">

          <div class="display_flex_jour_info">

            <!-- // petit cadre  -->
            <div class="cadre_date">

              <!-- // jour mois année  -->
              <!-- // mois  -->
              <div class="mois">
                <p>Oct</p>
              </div>

              <!-- // jours  -->
              <div class="jours">
                <p>
                  25
                </p>
              </div>

              <!-- // jour mois année  -->
              <div class="jour_mois_annee">
                <p>
                  25/10/2023
                </p>
              </div>

            </div>

            <!-- // information rdv  -->
            <div class="info_rdv">

              <div class="les_nom">

                <!-- // Espèce  -->
                <div class="espece">
                  <p>
                    Espèce de l'animal
                  </p>
                </div>

                <!-- // sexe de animal  -->
                <div class="sexe_animal">
                  <p>
                    Sexe de l'animal
                  </p>
                </div>

                <!-- // personne icon nom -->
                <div class="icon_name">
                  <!-- // icon perssonne  -->
                  <div class="icon_perso">
                    <i class="ri-user-follow-line"></i>
                  </div>

                  <!-- // nom personne  -->
                  <div class="name_perso">
                    <p>
                      Diakaridia SY
                    </p>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <!-- // icon de detaille de rendez-vous -->
          <div class="icon_detaille">
            <div class="icon_detaille">
              <i class="ri-arrow-right-circle-fill"></i>
            </div>

            <!-- // annuler  -->
            <div class="annuler">
              <p>
                Annuler Rdv
              </p>
            </div>
          </div>


        </div>

        <!-- // point cadre 5 -->
        <div class="point_cadre">

          <div class="display_flex_jour_info">

            <!-- // petit cadre  -->
            <div class="cadre_date">

              <!-- // jour mois année  -->
              <!-- // mois  -->
              <div class="mois">
                <p>Oct</p>
              </div>

              <!-- // jours  -->
              <div class="jours">
                <p>
                  25
                </p>
              </div>

              <!-- // jour mois année  -->
              <div class="jour_mois_annee">
                <p>
                  25/10/2023
                </p>
              </div>

            </div>

            <!-- // information rdv  -->
            <div class="info_rdv">

              <div class="les_nom">

                <!-- // Espèce  -->
                <div class="espece">
                  <p>
                    Espèce de l'animal
                  </p>
                </div>

                <!-- // sexe de animal  -->
                <div class="sexe_animal">
                  <p>
                    Sexe de l'animal
                  </p>
                </div>

                <!-- // personne icon nom -->
                <div class="icon_name">
                  <!-- // icon perssonne  -->
                  <div class="icon_perso">
                    <i class="ri-user-follow-line"></i>
                  </div>

                  <!-- // nom personne  -->
                  <div class="name_perso">
                    <p>
                      Diakaridia SY
                    </p>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <!-- // icon de detaille de rendez-vous -->
          <div class="icon_detaille">
            <div class="icon_detaille">
              <i class="ri-arrow-right-circle-fill"></i>
            </div>

            <!-- // annuler  -->
            <div class="annuler">
              <p>
                Annuler Rdv
              </p>
            </div>
          </div>


        </div>

        <!-- // point cadre 6 -->
        <div class="point_cadre">

          <div class="display_flex_jour_info">

            <!-- // petit cadre  -->
            <div class="cadre_date">

              <!-- // jour mois année  -->
              <!-- // mois  -->
              <div class="mois">
                <p>Oct</p>
              </div>

              <!-- // jours  -->
              <div class="jours">
                <p>
                  25
                </p>
              </div>

              <!-- // jour mois année  -->
              <div class="jour_mois_annee">
                <p>
                  25/10/2023
                </p>
              </div>

            </div>

            <!-- // information rdv  -->
            <div class="info_rdv">

              <div class="les_nom">

                <!-- // Espèce  -->
                <div class="espece">
                  <p>
                    Espèce de l'animal
                  </p>
                </div>

                <!-- // sexe de animal  -->
                <div class="sexe_animal">
                  <p>
                    Sexe de l'animal
                  </p>
                </div>

                <!-- // personne icon nom -->
                <div class="icon_name">
                  <!-- // icon perssonne  -->
                  <div class="icon_perso">
                    <i class="ri-user-follow-line"></i>
                  </div>

                  <!-- // nom personne  -->
                  <div class="name_perso">
                    <p>
                      Diakaridia SY
                    </p>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <!-- // icon de detaille de rendez-vous -->
          <div class="icon_detaille">
            <div class="icon_detaille">
              <i class="ri-arrow-right-circle-fill"></i>
            </div>

            <!-- // annuler  -->
            <div class="annuler">
              <p>
                Annuler Rdv
              </p>
            </div>
          </div>


        </div>

      </div>

    </div>

  </div>

</ion-content>