

<ion-footer class="font_footer">
    <div class="footer_content">
      
      <div class="accueil">
        <i class="ri-home-line"></i>
        <div class="nom_icon">
          <p> Accueil </p>
        </div>
      </div>
      
      <div class="accueil">
        <i class="ri-notification-2-line"></i>
        <div class="nom_icon">
          <p> Notification </p>
        </div>
      </div>
      
      <div class="accueil accueil2">
        <i class="ri-wechat-line"></i>
        <div class="nom_icon">
          <p> Message </p>
        </div>
      </div>
      
      <div class="accueil">
        <i class="ri-user-line"></i>
        <div class="nom_icon">
          <p> Profil </p>
        </div>
      </div>
  
    </div>
</ion-footer>