<div class="container_global">

  <div class="content">

    <div class="ecran">
      <div class="ecran_vue">

      </div>
    </div>

    <div class="hearder">

      <div class="icon_retour" routerLink="/page1-inscription">
        <i class="ri-arrow-left-s-line"></i>
      </div>

      <div class="titre_inscription">
        <h3>Réjoignez VetCare</h3>
      </div>

      <div class="vide">

      </div>
    </div>

    <!-- Image  -->

    <div class="image_logo">
      <div class="logo">
        <img src="../../../assets/LOGO2.png" alt="mon logo">
      </div>
    </div>

    <div class="titre_logo">
        <p>Quelle est votre Information <br> personnelle</p>
    </div>

    <div class="description_logo">
      <p>Entrez votre numéro de téléphone, votre genre, <br> votre acte de naissance.</p>
    </div>

  </div>


  <!-- /////////////////////////////////////////////////////////  FORMULAIRE -->

  <aside class="formulaire">

    <form class="container_formulaire">

      

      <div class="formulaire">

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Télephone/genre</h4>
        </div>

        <!-- input de votre numero  -->
        <div class="champ_input">
          <input type="number" class="input_focus"  id="number" placeholder="Saisir votre numero" autocomplete="on" required>
          <label for="number" class="label">Votre numéro</label>
        </div>

        <!-- input de votre sexe  -->
        <!-- <div class="champ_input" style="margin-top: -10px;">
          <input type="text" class="input_focus"  id="prenom" placeholder="Saisir votre nom" autocomplete="on" required>
          <label for="prenom" class="label">Votre prénom</label>
        </div> -->

        <div class="champ_input" style="margin-top: -10px;">

          <select class="input_focus">
            <option class="option_input" value="">Genre</option>
            <option class="option_input" value="">Homme</option>
            <option class="option_input" value="">Femme</option>
          </select>
        
        </div>

        <div class="champ_input" style="margin-top: -10px;">

          <select class="input_focus">
            <option class="option_input" value="">Langue parlée</option>
            <option class="option_input" value="">Bambara</option>
            <option class="option_input" value="">Français</option>
            <option class="option_input" value="">Anglais</option>
          </select>
        
        </div>


        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Acte de naissance</h4>
        </div>

        <!-- input de votre acte de naissance  -->


        <div class="acte_container">

          <div class="champ_input">

            <div class="jour_div">
              <select class="input_focus2" name="jours" id="jours">
                <option value="">Jours</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>

            <div class="mois_div">
              <select class="input_focus2 input_focus3" name="jours" id="jours">
                <option value="">Mois</option>
                <option value="">Janvier</option>
                <option value="">Février</option>
                <option value="">Mars</option>
              </select>
            </div>

            <div class="annee_div">
              <select class="input_focus2 input_focus4" name="jours" id="jours">
                <option value="">Année</option>
                <option value="">1815</option>
                <option value="">1816</option>
                <option value="">....</option>
                <option value="">2100</option>
              </select>
            </div>

          </div>

        </div>
        


        <!-- button envoie  -->

        <!-- le button de submit  -->
        <div class="btn_submit_global" routerLink="/page3-inscription">
          <button type="submit" class="btn_submit"> Suivant </button>
        </div>



        <!-- //////////////// Ligne et ou et ligne -->

        <div class="ligne_ou">

          <!-- // ma ligne un -->

          <div class="bare ligne1">

          </div>

          <!-- // mon or  -->

          <div class="ou">
            <p class="or">or</p>
          </div>

          <!-- // la ligne deux -->

          <div class="bare ligne2">

          </div>

        </div>


        <!-- ///////////////////////////////// TEXT de verification -->


        <div class="compte_quiz">
          <p>Vous avez déja un compte ?</p>
          <p class="seConnecter" routerLink="/page-final-connexion-veterinaire" >Connectez-vous</p>
        </div>



      </div>

    </form>

  </aside>

</div>
