
<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- <div class="icon_retour" routerLink="/section-choix">
      <i class="ri-arrow-left-s-line"></i>
    </div> -->

    <div class="icon_retour">
      <i class="ri-arrow-left-s-line"></i>

      <div class="nom_retour">
        <p> Modifier RDV </p>
      </div>
    </div>


    <div class="detaille_rdv">
      <p>
        Enregistrer
      </p>
    </div>
    
  </div>


<!-- // les verinaire qui est choisis  -->

<div class="container_veterinaire">

  <!-- // content veterinaire  -->
  <div class="veterinaire">

    <div class="name_veterinaire">
      <p>
        Vétérinaire
      </p>
    </div>

    <div class="info_vete">

      <div class="image_vete">
        <img src="../../../assets/profil.jpg" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            Diakaridia SY
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            Domaine de specialisation 
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            Mali
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

</div>

</ion-header>

<!-- //////////////////////////////////////////////////  -->

<ion-content>

  <aside class="formulaire">

    <form class="container_formulaire">

      

      <div class="formulaire">

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Information personnelle</h4>
        </div>

        <!-- input de votre acte de naissance  -->


        <div class="acte_container">

          <div class="champ_input2">

            <!-- input de votre numero  -->
            <div class="champ_input">
              <input type="number" class="input_focus2"  id="rue" placeholder="Saisir votre nom" autocomplete="on" required>
              <label for="rue" class="label">Votre Nom</label>
            </div>

             <!-- input de votre numero  -->
             <div class="champ_input">
              <input type="text" class="input_focus2 input_focus3"  id="postal" placeholder="Saisir votre preénom" autocomplete="on" required>
              <label for="postal" class="label">Votre Prénom</label>
            </div>

          </div>

        </div>



        <!-- input de votre pays  -->
        <div class="champ_input">
          <input type="text" class="input_focus"  id="pays" placeholder="Saisir votre adresse" autocomplete="on" required>
          <label for="pays" class="label">Votre Adresse</label>
        </div>

        <!-- input de votre quartier  -->
        <div class="champ_input" style="margin-top: -10px;">
          <input type="text" class="input_focus"  id="quartier" placeholder="Saisir votre numéro" autocomplete="on" required>
          <label for="quartier" class="label">Votre numéro</label>
        </div>

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Information Animal</h4>
        </div>

        <!-- //////////// information animal  -->

        <div class="acte_container">

          <div class="champ_input2">

            <!-- input de votre numero  -->
            <div class="champ_input">
              <input type="number" class="input_focus2"  id="rue" placeholder="Espèce de animal" autocomplete="on" required>
              <label for="rue" class="label">Espèce animal</label>
            </div>

             <!-- input de votre numero  -->
             <div class="champ_input">
              <input type="text" class="input_focus2 input_focus3"  id="postal" placeholder="L'age de animal" autocomplete="on" required>
              <label for="postal" class="label">Age animal</label>
            </div>

          </div>

        </div>

        <!-- ////////// Information animal 2  -->

        <div class="acte_container">

          <div class="champ_input2">

            <!-- input de votre numero  -->
            <div class="champ_input">
              <input type="date" class="input_focus2"  id="rue" placeholder="Date de rendez-vous" autocomplete="on" required>
              <label for="rue" class="label">Date de RDV</label>
            </div>

             <!-- input de votre numero  -->
             <div class="champ_input">
              <input type="text" class="input_focus2 input_focus3"  id="postal" placeholder="Sexe animal" autocomplete="on" required>
              <label for="postal" class="label">Sexe animal</label>
            </div>

          </div>

        </div>


        <!-- //////////////// DESCRIPTION  -->

        

        <!-- input de votre quartier  -->
        <!-- <div class="champ_input" style="margin-top: -10px;">
          <textarea type="text" class="input_focus"  id="quartier" placeholder="Saisir votre numéro" autocomplete="on" required></textarea>
          <label for="quartier" class="label">Votre numéro</label>
        </div> -->

        <div class="champ_input" style="margin-top: 0px;">
          <textarea class="input_focus5" name="descr" placeholder="Saisir votre numéro" autocomplete="on" required></textarea>
          <label for="descr" class="label">Description</label>
        </div>
        


        <!-- button envoie  -->

        <!-- le button de submit  -->
        <!-- <div class="btn_submit_global">
          <button type="submit" class="btn_submit"> Modifier RDV </button>
        </div> -->


      </div>

    </form>

  </aside>

</ion-content>