<div class="container_global">

  <div class="content_text">

    <div class="ecran">
      <div class="ecran_vue">

      </div>
    </div>

    <div class="hearder">

      <div class="icon_retour" routerLink="/section-choix">
        <i class="ri-arrow-left-s-line"></i>
      </div>

      <div class="titre_inscription">
        <h3>Réjoignez VetCare</h3>
      </div>

      <div class="vide">

      </div>
    </div>

    <!-- Image  -->

    <div class="image_logo">
      <div class="logo">
        <img src="../../../assets/LOGO2.png" alt="mon logo">
      </div>
    </div>

    <div class="titre_logo">
        <p>Comment vous appelez-vous ?</p>
    </div>

    <div class="description_logo">
      <p>Entrez votre nom et votre prénom que vous <br> utilisez, et adresse email.</p>
    </div>

  </div>

  <!-- /////////////////// FORMULAIRE -->


  <aside class="formulaire">

    <form class="container_formulaire">

      

      <div class="formulaire">

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Nom/Prénom</h4>
        </div>

        <!-- input de votre nom  -->
        <div class="champ_input">
          <input type="text" class="input_focus"  id="nom" placeholder="Saisir votre nom" autocomplete="on" required>
          <label for="nom" class="label">Votre nom</label>
        </div>

        <!-- input de votre prénom  -->
        <div class="champ_input" style="margin-top: -10px;">
          <input type="text" class="input_focus"  id="prenom" placeholder="Saisir votre nom" autocomplete="on" required>
          <label for="prenom" class="label">Votre prénom</label>
        </div>

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Adresse email</h4>
        </div>

        <!-- input de votre email  -->

        <div class="champ_input">
          <input type="email" class="input_focus" id="email" placeholder="example@gmail.com" autocomplete="off" required>
          <label for="email" class="label">Votre email</label>
          <i class="ri-information-line input_info_icon"></i>
        </div>


        <!-- button envoie  -->

        <!-- le button de submit  -->
        <div class="btn_submit_global" routerLink="/page2-inscription"> 
          <button type="submit" class="btn_submit"> Suivant </button>
        </div>



        <!-- //////////////// Ligne et ou et ligne -->

        <div class="ligne_ou">

          <!-- // ma ligne un -->

          <div class="bare ligne1">

          </div>

          <!-- // mon or  -->

          <div class="ou">
            <p class="or">or</p>
          </div>

          <!-- // la ligne deux -->

          <div class="bare ligne2">

          </div>

        </div>


        <!-- ///////////////////////////////// TEXT de verification -->


        <div class="compte_quiz">
          <p>Vous avez déja un compte ?</p>
          <div class="ins" routerLink="/page-final-connexion-veterinaire">
            <p class="seConnecter">Connectez-vous</p>
          </div>
        </div>



      </div>

    </form>

  </aside>

</div>