<div class="container_global">

  <div class="content">

    <div class="ecran">
      <div class="ecran_vue">

      </div>
    </div>

    <div class="hearder">

      <div class="icon_retour" routerLink="/connexion">
        <i class="ri-arrow-left-s-line"></i>
      </div>

      <div class="titre_inscription">
        <h3>Réjoignez VetCare</h3>
      </div>

      <div class="vide">

      </div>
    </div>

    <!-- Image  -->

    <div class="image_logo">
      <div class="logo">
        <img src="../../../assets/LOGO2.png" alt="mon logo">
      </div>
    </div>

    <div class="titre_logo">
        <p>Comment vous appelez-vous ?</p>
    </div>

    <div class="description_logo">
      <p>Entrez votre nom et votre prénom que vous <br> utilisez, et adresse email.</p>
    </div>

  </div>

  <!-- /////////////////////////////////////////////////////////  FORMULAIRE -->

  <aside class="formulaire">

    <form class="container_formulaire">

      

      <div class="formulaire">

        <!-- ///// TITRE  -->

        <div class="title_mot">
          <h4>Détails scolaires</h4>
        </div>

        <div class="champ_input2">

          <!-- input de votre pays  -->
          <div class="champ_input">
            <input type="text" class="input_focus2"  id="nom_user" placeholder="Saisir votre nom" autocomplete="on" required>
            <label for="nom_user" class="label">Votre nom</label>
          </div>

          <!-- input de votre quartier  -->
          <div class="champ_input">
            <input type="text" class="input_focus2"  id="prenom_user" placeholder="Saisir votre prénom" autocomplete="on" required>
            <label for="prenom_user" class="label">Votre prénom</label>
          </div>

        </div>

        
        <!-- input de votre email  -->

        <div class="champ_input">
          <input type="email" class="input_focus" id="email_user" placeholder="example@gmail.com" autocomplete="off" required>
          <label for="email_user" class="label">Votre email</label>
          <i class="ri-information-line input_info_icon"></i>
        </div>

       
        

        <!-- input de votre pays  -->
        <div class="champ_input">
          <input type="password" class="input_focus"  id="password_user" placeholder="Saisir votre mot de passe" autocomplete="on" required>
          <label for="password_user" class="label">Mot de passe</label>
        </div>

        <!-- input de votre quartier  -->
        <div class="champ_input" style="margin-top: -10px;">
          <input type="password" class="input_focus"  id="repassword_user" placeholder="Confirmer votre mot de " autocomplete="on" required>
          <label for="repassword_user" class="label">Confirm mot de passe</label>
        </div>

      
        <!-- input de votre acte de naissance  -->
      


        <!-- button envoie  -->

        <!-- le button de submit  -->
        <div class="btn_submit_global">
          <button type="submit" class="btn_submit"> Suivant </button>
        </div>



        <!-- //////////////// Ligne et ou et ligne -->

        <div class="ligne_ou">

          <!-- // ma ligne un -->

          <div class="bare ligne1">

          </div>

          <!-- // mon or  -->

          <div class="ou">
            <p class="or">or</p>
          </div>

          <!-- // la ligne deux -->

          <div class="bare ligne2">

          </div>

        </div>


        <!-- ///////////////////////////////// TEXT de verification -->


        <div class="compte_quiz">
          <p>Vous avez déja un compte ?</p>
          <div class="con" routerLink="/connexion">
            <p class="seConnecter">Connectez-vous</p>
          </div>
        </div>



      </div>

    </form>

  </aside>

</div>
