<ion-header class="font_hearder">

  <div class="ecran">
    <div class="ecran_vue">

    </div>
  </div>

  <div class="hearder">

    <!-- // icon de retour  -->
    <div class="icon_retour">
      <i class="ri-arrow-left-s-line"></i>
    </div>

    <!-- titre de suivi medicament  -->
    <div class="TitreSuiviMedicament">
      <h3>Tous les vétérinaires</h3>
    </div>

    <div class="vide">

    </div>
  
  </div>

  <!-- // bare de recherche  -->
  <div class="bareRecherche">
    <!-- // recherche  -->
    <div class="recherche">
      <!-- // input  search  -->
      <i class="ri-search-line icon_search"></i>
      <input type="text" class="search" placeholder="Recherche un vétérinaire">
    </div>
  </div>

  <!-- // bare ligne  -->
  <!-- <div class="bare_ligne">
    
    <div class="ligne">

    </div>
  </div> -->

</ion-header>

<ion-content>

  
<!-- // les verinaire qui est choisis  -->

<div class="container_veterinaire">

  <!-- // content veterinaire 1 -->
  <div class="veterinaire">

    <div class="info_vete">

      <div class="image_vete">
        <img src="../../../assets/profil.jpg" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            Diakaridia SY
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            Domaine de specialisation 
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            Mali
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

  <!-- // content veterinaire 2 -->
  <div class="veterinaire">

    <div class="info_vete">

      <div class="image_vete">
        <img src="../../../assets/profil.jpg" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            Diakaridia SY
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            Domaine de specialisation 
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            Mali
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

  <!-- // content veterinaire 3 -->
  <div class="veterinaire">

    <div class="info_vete">

      <div class="image_vete">
        <img src="../../../assets/profil.jpg" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            Diakaridia SY
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            Domaine de specialisation 
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            Mali
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

  <!-- // content veterinaire 4 -->
  <div class="veterinaire">

    <div class="info_vete">

      <div class="image_vete">
        <img src="../../../assets/profil.jpg" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            Diakaridia SY
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            Domaine de specialisation 
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            Mali
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

  <!-- // content veterinaire 5 -->
  <div class="veterinaire">

    <div class="info_vete">

      <div class="image_vete">
        <img src="../../../assets/profil.jpg" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            Diakaridia SY
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            Domaine de specialisation 
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            Mali
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

  <!-- // content veterinaire 6 -->
  <div class="veterinaire">

    <div class="info_vete">

      <div class="image_vete">
        <img src="../../../assets/profil.jpg" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            Diakaridia SY
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            Domaine de specialisation 
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            Mali
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

  <!-- // content veterinaire 7 -->
  <div class="veterinaire">

    <div class="info_vete">

      <div class="image_vete">
        <img src="../../../assets/profil.jpg" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            Diakaridia SY
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            Domaine de specialisation 
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            Mali
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

  <!-- // content veterinaire 8 -->
  <div class="veterinaire">

    <div class="info_vete">

      <div class="image_vete">
        <img src="../../../assets/profil.jpg" alt="">
      </div>

      <div class="info_name">
        <!-- // nom et prenom  -->
        <div class="nom_prenom">
          <p>
            Diakaridia SY
          </p>
        </div>

        <!-- // domaine de specialiter  -->
        <div class="domaine">
          <p>
            Domaine de specialisation 
          </p>
        </div>

        <!-- // pays  -->

        <div class="vete_pays">
          <p>
            Mali
          </p>
        </div>

      </div>

    </div>

        <div class="bare">
          <div class="ligne">
            <!-- ////////// TO DO  -->
          </div>
        </div>

  </div>

</div>


</ion-content>