
///////////////////////////

// .container_global {
//     position: relative;
// }

.font_hearder {
    background-color: #F2F6FA;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.089);
}

.ecran .ecran_vue {
    width: 100%;
    height: 40px;
}


.hearder {
    width: 100%;
    height: 50px;
    background-color: #fff!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_retour {
    font-size: 30px;
    margin-left: 10px;
}

.TitreSuiviMedicament {
    margin-bottom: 5px;
    margin-right: 20px;
}

.TitreSuiviMedicament h3 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #000;
    font-style: italic;
    font-weight: 500;
}




////////////////////////// Debut de style de recherche


.bareRecherche {
    display: flex;
}

.recherche {
    width: 100%;
    margin: 10px 10px 20px 10px;
    position: relative;
}

.icon_search {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 28px;
}

.recherche .search {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 128, 0, 0.13);
    border-radius: 20px;
    padding-left: 50px;
}

.recherche .search:focus {
    outline: 1px solid green;
}


////////////////////////// Fin de style de recherche

.bare_ligne {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.ligne {
    width: 100%;
    height: 1px;
    background-color: #0000005b;
    margin: 20px 10px 0 10px;
}

///////////////////////////////
///  les veteriniare 
/// 

.container_veterinaire {
    margin: 15px 10px;
}

.info_vete {
    display: flex;
}

.veterinaire {
    margin-bottom: 8px;
}

///// image 
///
//

.image_vete {
    width: 40px;
    height: 40px;
}

.image_vete img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nom_prenom p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.50px;
}

.domaine p {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.30px;
    padding-top: 2px;
}

.vete_pays p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.30px;
    padding-top: 2px;
}

////////////////////
/// 
/// 

.info_vete {
    margin-top: 15px;
}

.info_name {
    margin-left: 10px;
    margin-top: 0px;
}


////// Bare et ligne 

.bare {
    margin-left: 40px;
    margin-right: 10px;
}

.bare .ligne {
    border-bottom: 1px solid #0000000e;
    margin-top: 6px;
}